<div class="commander-container">
  <div class="commander-tools">
    <div class="tool">
      <span>
        <img
          class="icon-square"
          src="../../../assets/svg/folder+.svg"
          alt="folder_icon"
          srcset=""
        />
      </span>
    </div>
    <div class="tool">
      <span>
        <img
          class="icon-square"
          src="../../../assets/svg/flow-chart.svg"
          alt="folder_icon"
          srcset=""
        />
      </span>
    </div>
    <div class="tool">
      <span>
        <img
          class="icon-square"
          src="../../../assets/svg/trash.svg"
          alt="folder_icon"
          srcset=""
        />
      </span>
    </div>
  </div>
  <div class="commander-main">asdasda</div>
</div>
