<div class="a">
  <div class="edit-box-container">
    <div
      class="edit-box-clip"
      [style.width]="this.editorService.clientModel.canvas.clip.width + 'px'"
      [style.height]="this.editorService.clientModel.canvas.clip.height + 'px'"
      [style.left]="this.editorService.alignment.left_dock.width + 'px'"
    >
      <div
        id="dgbox"
        class="edit-box"
        [style.top]="editorService.clientModel.canvas.posy.toString() + 'px'"
        [style.left]="editorService.clientModel.canvas.posx.toString() + 'px'"
        [style.width]="
          this.editorService.clientModel.canvas.width.toString() + 'px'
        "
        [style.height]="
          this.editorService.clientModel.canvas.height.toString() + 'px'
        "
        [style.backgroundImage]="
          'linear-gradient(to right, rgba(255, 255, 255, 0.11) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.11) 1px, transparent 1px)'
        "
        [style.background-size]="
          editorService.clientModel.canvas.gridSize.toString() +
          'px ' +
          editorService.clientModel.canvas.gridSize.toString() +
          'px'
        "
        (click)="onClick($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
        (mousedown)="onMouseDown($event)"
        (wheel)="zoom($event)"
        (keypress)="this.onKeyPress($event)"
      >
        <app-line-canvas
          [canvasModel]="editorService.clientModel.canvas"
          #linecanvas
          [class_general]="editorService.clientModel.class_general"
          [lineCanvasModel]="editorService.clientModel.lineCanvas"
        >
        </app-line-canvas>
        <div *ngIf="this.editorService.model">
          <div *ngFor="let item of this.editorService.model.dgObjects">
            <app-simple-class
              *ngIf="item._type == 'SimpleClass'"
              [model]="item"
              [general]="this.editorService.clientModel.class_general"
            >
            </app-simple-class>
            <app-note-box
              *ngIf="item._type == 'NoteBox'"
              [model]="item"
              [general]="this.editorService.clientModel.class_general"
            >
            </app-note-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
