<p>
  <mat-toolbar class="toolbar">
    <div class="nav-box">
      <button
        [routerLink]="['editor']"
        class="glow-on-hover"
        type="button"
        (click)="this.onEditorClick()"
      >
        Editor
      </button>
    </div>
    <div class="auth-box" *ngIf="!isLoggedIn()">
      <button class="glow-on-hover" [routerLink]="['login']" type="button">
        Login
      </button>
      <div class="link-box">
        <a [routerLink]="['register']">Register</a>
      </div>
    </div>
    <div class="profile" *ngIf="isLoggedIn()">
      <div class="link-box">
        <a (click)="logOut()">Logout</a>
      </div>
    </div>
  </mat-toolbar>
</p>
