$dock_color: #333;
$dock_opacity: 0.3;

.window-manager-root_frame {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgb(139, 77, 15);
  background: linear-gradient(
    135deg,
    rgb(139, 77, 15) 0%,
    rgb(8, 8, 111) 100%,
    rgb(167, 88, 10) 100%
  );

  .dock-surface {
    width: 100px;

    position: inherit;
  }
  .window-manager-left_dock {
    height: 100vh;
    left: 0px;
    background-color: $dock_color;
    opacity: $dock_opacity;
  }
  .window-manager-right_dock {
    height: 100vh;
    right: 0px;
    background-color: $dock_color;
    opacity: $dock_opacity;
  }
  .window-manager-bottom_dock {
    height: 100px;
    width: 100vw;
    bottom: 0px;
    background-color: $dock_color;
    opacity: $dock_opacity;
  }
}
