<ng-template #content>
  <div className="toolbox-wrapper">
    <div (click)="this.toolSelected($event)" class="toolbox">
      <div data-action="cursor" class="toolbox-item">Cursor</div>
      <div data-action="class" class="toolbox-item">Class</div>
      <div data-action="note" class="toolbox-item">NoteBox</div>
      <div data-action="line" data-line_extra="0" class="toolbox-item">
        Association
      </div>
      <div data-action="line" data-line_extra="1" class="toolbox-item">
        Directed Assoc.
      </div>
      <div data-action="line" data-line_extra="2" class="toolbox-item">
        Aggregation
      </div>
      <div data-action="line" data-line_extra="3" class="toolbox-item">
        Composition
      </div>
      <div data-action="line" data-line_extra="4" class="toolbox-item">
        Dependency
      </div>
      <div data-action="line" data-line_extra="5" class="toolbox-item">
        Generalization
      </div>
      <div data-action="line" data-line_extra="6" class="toolbox-item">
        Interface
      </div>
    </div>
  </div>
</ng-template>
<app-window [contentTemplate]="content" [model]="this.model"> </app-window>
