<div
  *ngIf="this.editorService.getUser() && isInProject(); else elseTemplate"
  id="app"
  tabIndex="0"
  (mousemove)="this.onMouseMove($event)"
  (mouseup)="this.onMouseUp($event)"
  (mousedown)="this.onMouseDown($event)"
  (keydown)="this.onKeyPress($event)"
  (keyup)="this.onKeyUp($event)"
>
  <div
    id="main"
    [style.height]="this.editorService.clientModel.canvas.clip.height + 'px'"
  >
    <app-canvas-box> </app-canvas-box>
  </div>
</div>
<ng-template #elseTemplate>
  <div
    *ngIf="!isInProject() && this.editorService.getUser()"
    class="unauthorized-overlay"
  >
    <div>Select a project in the manager to edit</div>
  </div>

  <div *ngIf="!this.editorService.getUser()" class="unauthorized-overlay">
    <div>
      <a [routerLink]="['/login']">Log in</a>
      to access This function
    </div>
  </div>
</ng-template>
