<div
  *ngIf="this.editorService.getUser(); else login_pls"
  id="app"
  tabIndex="0"
  (mousemove)="this.onMouseMove($event)"
  (mouseup)="this.onMouseUp($event)"
  (mousedown)="this.onMouseDown($event)"
  (keydown)="this.onKeyPress($event)"
>
  <div
    id="main"
    [style.height]="this.editorService.clientModel.canvas.clip.height + 'px'"
  >
    <app-canvas-box> </app-canvas-box>
  </div>
</div>
<ng-template #login_pls>
  <div class="unauthorized-overlay">
    <div>
      <a [routerLink]="['/login']">Log in</a>

      to access This function
    </div>
  </div>
</ng-template>
