<div
  id="app"
  tabIndex="0"
  (onmousemove)="this.onMouseMove($event)"
  (onmouseup)="this.onMouseUp($event)"
  (onmousedown)="this.onMouseDown($event)"
  (onkeydown)="this.onKeyPress($event)"
>
  <!--     <MenuBar obj={this.state.model.menubar} /> -->
  <div
    id="main"
    [style.height]="
      this.fullHeight - this.editorService.model.menubar.height + 'px'
    "
  >
    <!--  <ToolBox model={this.state.model} obj={this.state.model.toolbox} /> -->
    <app-canvas-box> </app-canvas-box>
  </div>
</div>
