<div class="class-element-group" (onmouseover)="this.onMouseOver($event)">
  <div class="class-element-group-name">
    {{ this.getModel().group_name }}
  </div>
  <span style="position: absolute" [style.left]="this.model">
    {{ this.isLoading() }}
  </span>
  <app-attribute
    *ngFor="let item of this.getModel().attributes"
    [model]="item"
    [parent]="this"
    [isTitle]="false"
  >
  </app-attribute>

  <div class="class-element-group-new_element-button-wrapper">
    <div
      class="class-element class-element-group-new_element-button"
      (click)="this.onNewButtonClick($event)"
    >
      +
    </div>
  </div>
</div>
