<ng-template #contentc>
  <div
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    [style.box-shadow]="this.box_shadow"
  >
    <!-- {{ this.model.titleModel.name }} -->
    <app-attribute
      [parent]="this"
      [isTitle]="true"
      [model]="this.model.titleModel"
      [isEditLockedPermanently]="true"
    >
    </app-attribute>
    <div
      style="position: absolute"
      [style.left]="this.model.scaledModel.width_scaled + 'px'"
      [style.top]="'-1em'"
      [style.display]="'flex'"
      class="m-1"
    >
      <span *ngIf="this.isLoading() > 0">
        <span class="lds-hourglass" *ngIf="this.isLoading"> </span>
        <i class="fas fa-sign-in-alt"></i>
      </span>
      <span *ngIf="this.isLoading() > 0" class="mx-2">
        {{ this.isLoading() }}</span
      >
      <span> {{ this.isLocked() }}</span>
    </div>
    <div *ngFor="let item of this.model.elements" class="m-0">
      <pre
        class="m-0"
      ><img class="file-icon" src="{{ this.iconEnumToSrc(item.icon) }}" />{{item.name}}</pre>
    </div>
  </div>
</ng-template>
<app-diagram-object
  [style.box-shadow]="this.box_shadow"
  [contentTemplate]="contentc"
  [model]="this.model"
  [sessionState]="this.sessionState"
  [general]="this.general"
>
</app-diagram-object>
