<ng-template #contentc>
  <div (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
    <div
      style="position: absolute"
      [style.left]="this.model.scaledModel.width_scaled + 'px'"
      [style.top]="'-1em'"
      [style.display]="'flex'"
      class="m-1"
    >
      <span *ngIf="this.isLoading() > 0">
        <span class="lds-hourglass" *ngIf="this.isLoading"> </span>
        <i class="fas fa-sign-in-alt"></i>
      </span>
      <span *ngIf="this.isLoading() > 0" class="mx-2">
        {{ this.isLoading() }}</span
      >
      <span> {{ this.isLocked() }}</span>
    </div>
    <div
      class="note-box-content"
      (dblclick)="this.onContentClick($event)"
      [style.height]="getInnerHeight() + 'px'"
    >
      <textarea
        #texta
        name="text"
        *ngIf="model.edit"
        class="INPUT"
        [style.width]="this.getInnerWidth() + 'px'"
        (input)="textInput($event)"
        (click)="inputClick($event)"
        (keypress)="onKeyPress($event)"
        >{{ model.content }}</textarea
      >

      <div *ngIf="!model.edit">
        <pre>{{ model.content }}</pre>
      </div>
    </div>
  </div>
</ng-template>
<app-diagram-object
  [contentTemplate]="contentc"
  [model]="this.model"
  [sessionState]="this.sessionState"
  [general]="this.general"
>
</app-diagram-object>
