<ng-template #contentc>
  <div (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
    <div
      style="position: absolute"
      [style.left]="this.model.scaledModel.width_scaled + 'px'"
      [style.top]="'-1em'"
      [style.display]="'flex'"
      class="m-1"
    >
      <span *ngIf="this.isLoading() > 0">
        <span class="lds-hourglass" *ngIf="this.isLoading"> </span>
        <i class="fas fa-sign-in-alt"></i>
      </span>
      <span *ngIf="this.isLoading() > 0" class="mx-2">
        {{ this.isLoading() }}</span
      >
      <span> {{ this.isLocked() }}</span>
    </div>
    <app-attribute
      [parent]="this"
      [isTitle]="true"
      [model]="this.model.titleModel"
    >
    </app-attribute>
    <div class="class-elements">
      <div *ngFor="let item of this.model.groups">
        <app-attribute-group [parent]="this" [model]="item">
        </app-attribute-group>
      </div>
    </div>
  </div>
</ng-template>
<app-diagram-object
  [contentTemplate]="contentc"
  [model]="this.model"
  [general]="this.general"
  [sessionState]="this.sessionState"
>
</app-diagram-object>
