.example-container {
  background: rgb(139, 77, 15);
  background: linear-gradient(
    135deg,
    rgb(139, 77, 15) 0%,
    rgb(8, 8, 111) 100%,
    rgb(167, 88, 10) 100%
  );
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {
  height: 100%;
}
.example-sidenav {
  background: rgb(139, 77, 15);
  background: linear-gradient(
    135deg,
    rgb(139, 77, 15) 0%,
    rgb(63, 11, 131) 60%,
    rgb(23, 11, 131) 100%
  );
}
.page-root {
  display: flex;
}
.icon {
  border-radius: 50%;

  width: 60px;
  height: 60px;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon:hover {
  border: rgb(164, 90, 207) solid 2px;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.2, 1.2);
}
.side-nav {
  padding-left: 8px;
  max-width: 72px;
  background-color: #222;
}
