<div class="page-root">
  <div class="side-nav">
    <div>
      <a style="border: none">
        <span [routerLink]="['/home']">
          <img
            class="icon"
            src="../../../assets/svg/home.svg"
            alt="home_icon"
            srcset=""
          />
        </span>
      </a>
    </div>
    <div (click)="toggle()">
      <span>
        <img
          class="icon"
          src="../../../assets/svg/folder.svg"
          alt="folder_open"
          srcset=""
        />
      </span>
    </div>
    <div *ngIf="this.isEditorActive()">
      <span>
        <img
          class="icon"
          src="../../../assets/svg/group.svg"
          alt="group_icon"
          srcset=""
        />
      </span>
    </div>
    <div *ngIf="this.isEditorActive()">
      <span>
        <img
          class="icon"
          src="../../../assets/svg/tool-box.svg"
          alt="tools_icon"
          srcset=""
        />
      </span>
    </div>
    <div *ngIf="this.isEditorActive()">
      <span>
        <img
          class="icon"
          src="../../../assets/svg/log.svg"
          alt="log_icon"
          srcset=""
        />
      </span>
    </div>
  </div>

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer
      #drawer
      class="example-sidenav"
      mode="side"
      opened="false"
      (click)="panelClick($event)"
      (keyup)="onKeyUp($event)"
      (keydown)="onKeyDown($event)"
    >
      <div>
        <app-left-panel-component
          [events]="eventsSubject.asObservable()"
          (clickEvent)="clickHandler($event)"
        >
          >
        </app-left-panel-component>
      </div>
    </mat-drawer>
    <app-top-menu> </app-top-menu>
    <div class="example-sidenav-content">
      <router-outlet> </router-outlet>
    </div>
  </mat-drawer-container>
</div>
