<div
  id="{{ this.model.id }}"
  [style.fontSize]="
    this.editorService.model.class_general.fontsize_scaled + 'px'
  "
  [style.top]="this.model.scaledModel.posy_scaled + 'px'"
  [style.left]="this.model.scaledModel.posx_scaled + 'px'"
  [style.width]="this.model.scaledModel.width_scaled + 'px'"
  [style.height]="this.model.scaledModel.height_scaled + 'px'"
  [style.zIndex]="this.model.z"
  [style.padding]="this.editorService.model.class_general.padding_scaled + 'px'"
  [style.border]="
    this.editorService.model.class_general.border_scaled +
    'px' +
    'px solid rgba(255, 255, 255, 0.19)'
  "
  class="d-class"
>
  <app-attribute [parent]="this.model" [isTitle]="true"> </app-attribute>
  <!-- <ClassElement parent={this.state} obj={this.state} istitle='true' /> -->
  <div class="class-elements">
    <div *ngFor="let item of this.model.groups">
      <app-attribute-group [parent]="this" [model]="item">
      </app-attribute-group>
    </div>
  </div>
</div>
